@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Gowun+Dodum&display=swap');

.nav-bg {background-color: #e3f2fd;}
.card-bg {background-color: #b6d4fe;}
.Edu-font {font-family: 'Edu SA Beginner', cursive;}
.center {text-align: center}

@media (prefers-color-scheme: light) {
  .body {color: black;background-color:white}
  .scheme {color-scheme: light !important;}
}

@media (prefers-color-scheme: dark) {
  .body {color: white;background-color:black}
  .f-color {color:#e8e6e3 !important}
  .nav-bg {background-color: #202325}
}
