@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Gowun+Dodum&display=swap');

@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nav-bg {background-color: #e3f2fd;}
.card-bg {background-color: #b6d4fe;}
.Edu-font {font-family: 'Edu SA Beginner', cursive;}
.Text-Font {font-family: 'KCCChassam';}
.center {text-align: center}
.a {text-decoration: none;}

@media (prefers-color-scheme: light) {
  .body {color: black;background-color:white}
  .scheme {color-scheme: light !important;}
}

@media (prefers-color-scheme: dark) {
  .body {color: white;background-color:black}
  .f-color {color:#e8e6e3 !important}
  .nav-bg {background-color: #202325}
}

.tag {
  background-color: rgba(128, 128, 128, 0.2 );
  display: inline-flex;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: 1.2px ridge gray
}

.hide { display: none }
.selected { background-color: rgba(131, 205, 255, 0.5 ) }
