@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Gowun+Dodum&display=swap');

.nav-bg {background-color: #e3f2fd;}
.card-bg {background-color: #b6d4fe;}
.Edu-font {font-family: 'Edu SA Beginner'}
.center {text-align: center}
.a {text-decoration: none;}

@media (prefers-color-scheme: light) {
  .body {color: black;background-color:white}
  .scheme {color-scheme: light !important;}
  .footer { background-color: #EFEFEF }
  .post-bg { background-color: white }
}

@media (prefers-color-scheme: dark) {
  .body {color: white;background-color:black}
  .f-color {color:#e8e6e3 !important}
  .nav-bg {background-color: #202325}
  .footer { background-color: #19181B }
  .post-bg { background-color: black }
}

.tag {
  background-color: rgba(128, 128, 128, 0.2 );
  display: inline-flex;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: 1.2px ridge gray
}

.tag:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.hide { display: none }
.selected { background-color: rgba(131, 205, 255, 0.5 ) }
