table { border-collapse: collapse; width: 100%; }
th, td { border: 1px solid #ddd; padding: 8px; }

@media (prefers-color-scheme: dark) {
  th { background-color: #262323; }
}
@media (prefers-color-scheme: light) {
  th { background-color: #f2f2f2; }
}
