<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">

                {% for post in site.posts %}
                <div class="card bg-transparent shadow-sm">
                    <a href='{{ post.slag | relative_url }}'>
                        <div class="card-body">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text" style='color:gray'></p>
                          <br>
                        </div>
                    </a>
               </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
