<!-- Blog Posts -->
<section class="section">
    <div class="container">
        <h3 class='m-3 Text-Font'>{{site.recent-post}}</span>
                <hr>
                {% for post in site.posts limit:5 %}
        
                <div class='container'>
                <a class='a' href='{{ post.url | relative_url}}'>
                <div class="card border-0">
                   <div class="card-body post-bg">
                    <h6 class="f-color card-text">{{post.date| date: "%Y-%m-%d"}}</h6>
                    <h5 class="f-color card-title">{{post.title}}</h5>
                    <p class="f-color card-text">{{post.preview}}</p>
                   </div>
                  </div>
                </a>
                </div>
                <hr>
        
                {% endfor %}
        <br>
        <center><a href='{{site.base-url}}/posts'><button type="button" class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i> {{site.more-btn-text}}</button></a></center>
    </div>
</section>
