<!-- Tag -->
<div class='container'>
  <div class="input-group mb-3">
    <input type="text" class="form-control bg-dark" id = 'inp' value=''>
  </div>
  {% for tag in site.data.tags %}
    <span class="tag mb-1" data-tag="{{tag}}">{{tag}}</span>
  {% endfor %}
</div>

<div id='posts'>
    
  {% for post in site.posts %}
    <div class='container post'
      {% if post.tags %}
      {% for tag in post.tags %}
        data-{{ tag }}
      {% endfor %}
    {% endif %}
      post-{{ forloop.index }}>
                <a class='a' href='{{ post.url | relative_url}}'>
                <div class="card border-0">
                   <div class="card-body nav-bg">
                    <h5 class="f-color card-title">{{post.title}}</h5>
                    <p class="f-color card-text">{{post.preview}}</p>
                   </div>
                  </div>
                </a>
                <br>
                </div>
  {% endfor %}
    
</div>

<script src="{{ '/js/tag.js' | relative_url }}"></script>
