---
layout: main
---

<!-- Header -->
<header class='mt-4' style='text-align:center'>
  <div class='container'>
    <h1 class='Edu-font'>{{page.title}}</h1>
    <h5>{{page.date}}</h5>
    <h5>
          {% if page.tags %}
            {% for tag in page.tags %}
              <span class="tag">#{{ tag }}</span>
            {% endfor %}
          {% endif %}</h5>
  </div>
</header>

<div height='100px'></div>

<section class="section">
    <div class="container">
      <br>
      
      {{content}}
    </div>
</section>
<link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}">
